<%= form_for(@bubble_gum) do |f| %>
  <% if @bubble_gum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bubble_gum.errors.count, "error") %> prohibited this bubble_gum from being saved:</h2>

      <ul>
      <% @bubble_gum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
